<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied!</title>
</head>
<body>
    {% extends "bootstrap/base.html" %}
    {% block content %}
    <h1 style="margin-left: 15px;"><b>ERROR:</b> Could not sign in</h1>
    <h3 style="margin-left: 15px;"><i>{{name}} is not a valid user or there was an incorrect password. Please try again.</i></h3>
    {% endblock %}
</body>
</html>